{extend name="base" /}

{block name="title"} 首页 {/block}


{block name="body"}

    <div class="app">

		<!-- header navbar -->
		{include file="public/navbar" /}
		
        <section class="layout">
			<!-- sidebar left  -->
			{include file="public/sidebar" /}

			<!-- main -->
            <section class="main-content">
                <div class="content-wrap">
					<!-- main -->			
					
<!-- 						
					<div class="row mg-b">
						<div class="col-xs-6">
							<h3 class="no-margin">控制台</h3>
							<small>欢迎回来, bool</small>
						</div>
						<div class="col-xs-6 text-right">
							<a href="javascript:;" class="fa fa-flash pull-right pd-sm toggle-sidebar" data-toggle="off-canvas" data-move="rtl">
								<span class="badge bg-danger animated flash">6</span>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<section class="panel">
								<div class="panel-body">
									<div class="circle-icon bg-success">
										<i class="fa fa-microphone"></i>
									</div>
									<div>
										<h3 class="no-margin">5468</h3> New signups
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<section class="panel">
								<div class="panel-body">
									<div class="circle-icon bg-danger">
										<i class="fa fa-anchor"></i>
									</div>
									<div>
										<h3 class="no-margin">2,300</h3> Total equity
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<section class="panel">
								<div class="panel-body">
									<div class="circle-icon bg-default">
										<i class="fa fa-magnet"></i>
									</div>
									<div>
										<h3 class="no-margin">3,823</h3> Views today
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<section class="panel">
								<div class="panel-body">
									<div class="circle-icon">
										<canvas id="icon1" width="50" height="50"></canvas>
									</div>
									<div>
										<h3 class="no-margin">12&#176;</h3> Fog Overcast
									</div>
								</div>
							</section>
						</div>
					</div>
 -->

					<!-- main -->
				</div>
			</section>
			
			<!-- footer -->
			<section class="main-content">

				<div class="content-wrap with-footer"></div>

				<footer>
					<p>© <a href="javascript:;">Cameo Admin 2014</a>
					</p>
					<p class="pull-right">All rights reserved
					</p>
				</footer>
			</section>

		</section>
		

    </div>

{/block}


{block name="js"}
<script>
    var app = new Vue({
        el: '.app',
        data: {},
        mounted: function (){
        },
        methods: {
            _load: function (event) {
            }
        }

    });
</script>
{/block}