    <!-- bootstrap -->
    <script src="/static/admin/bootstrap/js/bootstrap.js"></script>
    <!-- 过渡效果 -->
    <script src="/static/admin/vendor/jquery.easing.min.js"></script>
    <!-- 处理 移动端点击延迟事件  -->
    <script src="/static/admin/vendor/fastclick.js"></script>
    <!-- 自动提示在线/离线状态 -->
    <script src="/static/admin/vendor/offline/offline.min.js"></script>
    <!-- 顶部页面加载条 http://github.hubspot.com/pace/ -->
    <script src="/static/admin/vendor/pace/pace.min.js"></script>
    <!-- 滑动导航栏 -->
    <script src="/static/admin/js/off-canvas.js"></script>
    <script src="/static/admin/js/main.js"></script>
    <script src="/static/admin/js/panel.js"></script>