<table class="table table-bordered table-striped no-margin col-sm-12 select-box-model">
    <thead>
        <tr>
            <th>
                <i class="fa fa-plus btn btn-xs" @click="addLine"></i>
            </th>
            <th v-for="item in data" v-text="item"></th>
            <th> 删除 </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(v,k) in list">
            <td> 
                选择
                <input type="hidden" class="form-control" name="id[]"> 
            </td>
            <td v-for="(item,key) in data" > 
                <input type="text" class="form-control" :name="key+'[]'"> 
            </td>
            <td v-show="k>=1">
                <i class="fa fa-trash btn btn-xs" @click="delLine(k)"></i>
            </td>
        </tr>
    </tbody>
</table>
