<table class="table table-bordered table-striped no-margin col-sm-12 select-box-model">
    <thead>
        <tr>
            <th>
                <i class="fa fa-plus"></i>
            </th>
            <!-- <th v-for="item in data" v-text="item"></th> -->
        </tr>
    </thead>
    <tbody>
        <!-- <tr v-for="v in list">
            <td> 
                选择
                <input type="hidden" class="form-control" name="id[]"> 
            </td>
            <td v-for="(item,key) in data" > 
                <input type="text" class="form-control" :name="key+'[]'"> 
            </td>

        </tr> -->
    </tbody>
</table>
<script>
// seajs 
// seajs.use([], function(){
//     var data = {
//         name: '产品名称',
//         model: '产品型号',
//         spec: '产品规格',
//         color: '颜色',
//         num: '数量',
//         unit: '计量单位',
//         price: '产品单价',
//     };
    // vue
//     var selectBox = new Vue({
//         el: '.select-box-model',
//         data: {
//             data: data,
//             list: [
//                 {},
//                 {}
//             ]
//         },
//         mounted: function (){
//             // $('.comboSelect').comboSelect();
//         },
//         methods: {
//             save: function () {
//             },
//             callback:function (data) {
//             }
//         }

//     }); 

// });
</script>