<!-- select table -->
<div class="form-group col-sm-12" style="min-height:300px;">
    <table class="table table-bordered table-striped table-hover table-condensed no-margin col-sm-12">
        <thead>
            <tr>
                <th width="25px">
                    <i class="fa fa-plus btn btn-xs" @click="addLine"></i>
                </th>
                <th v-for="item in data" v-text="item"></th>
                <th width="30px"> </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,k) in list">
                <td :rowspan="list.length" v-show="k==0"> </td>
                <td>
                    <span v-text="item.name?item.name:item.product.name"></span>
                </td>
                <td>
                    <span v-text="item.model?item.model:item.product.model"></span>
                </td>
                <td>
                    <span v-text="item.spec?item.spec:item.product.spec"></span>
                </td>
                <td>
                    <span v-text="item.color.name"></span>
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.num" @input="changeSum(k)" style="height:25px;width:60px;padding:3px;">
                </td>
                <td>
                    <span v-text="item.unit.name"></span>
                </td>

                <td>
                    <input type="text" class="form-control" v-model="item.price"  @input="changeSum(k)" style="height:25px;width:60px;padding:3px;">
                </td>

                <td>
                    <span v-text="item.count"></span>
                </td>

                <td>
                    <i class="fa fa-trash btn btn-xs" @click="delLine(k)"></i>
                </td>
            </tr>

        </tbody>
        <tfoot v-show="list.length>0">
            <tr>
                <th colspan="7"></th>
                <th>总价</td>
                <th v-text="count"></th>
                <th></th>
            </tr>
        </tfoot>


    </table>
</div>
