            <aside class="sidebar collapsible canvas-left">
                <nav class="main-navigation">
                    <ul>
                        <li>
                            <!-- <a href="javascript:;" url="{:url('index/main')}" @click="_load($event)">
                                <i class="fa fa-coffee"></i>
                                <span>控制台</span>
                            </a> -->
                            <a href="{:url('index/index')}">
                                <i class="fa fa-coffee"></i>
                                <span>控制台</span>
                            </a>
                        </li>

                        
                        <li class="dropdown show-on-hover">
                            <a href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                                <span>管理员列表</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('admin/index')}">
                                        <span>管理员列表</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('role/index')}">
                                        <span>角色管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('node/index')}">
                                        <span>节点管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        

                        <li class="dropdown show-on-hover open collapse-open">
                            <a href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i>
                                <span>仓库作业</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('sale/index')}">
                                        <span>销售订单</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('outdepot/index')}">
                                        <span>出库订单</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('purchase/index')}">
                                        <span>采购订单</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="{:url('indepot/index')}">
                                        <span>入库订单</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="dropdown show-on-hover">
                            <a href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-inbox"></i>
                                <span>基本设置</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('customer/index')}">
                                        <span>客户管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('supplier/index')}">
                                        <span>供应商管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('depot/index')}">
                                        <span>仓库管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('location/index')}">
                                        <span>库位管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('cate/index')}">
                                        <span>分类管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('brand/index')}">
                                        <span>品牌管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('unit/index')}">
                                        <span>计量单位</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('Color/index')}">
                                        <span>颜色管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('product/index')}">
                                        <span>产品管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{:url('express/index')}">
                                        <span>物流快递</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>                        
                        
                        <li>
                            <a href="{:url('plug/index')}">
                                <i class="fa fa-shopping-bag"></i>
                                <span>应用市场</span>
                            </a>
                        </li>    
                        
                        <!-- <li>
                            <a href="changelog.html">
                                <i class="fa fa-info"></i>
                                <span>日志</span>
                            </a>
                        </li> -->
                        
                    </ul>
                </nav>
                <footer>
                    <div class="about-app pd-md animated pulse">
                        <a href="javascript:;">
                            <img src="/static/admin/img/about.png" alt=""></a>
                        <span>
                            <b>Cameo</b>&#32;is a responsive admin template powered by bootstrap 3.
                            <a href="javascript:;">
                                <b>Find out more</b>
                            </a>
                        </span>
                    </div>
                    <div class="footer-toolbar pull-left">
                        <a href="javascript:;" class="pull-left help">
                            <i class="fa fa-question-circle"></i>
                        </a>
                        <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                </footer>
            </aside>
