{extend name="base" /}

{block name="title"} 角色列表 {/block}


{block name="body"}
<div class="col-lg-12">

    <section class="panel">
        <header class="panel-heading">条件筛选</header>
        <div class="panel-body">
            <form class="form-inline form-search" role="form">

                <div class="form-group mg-t-xs">
                    <label>名称</label>
                    <input type="text" class="form-control" name="name" placeholder="名称">
                </div>

                <div class="form-group col-xs-12 col-md-12 mg-t-xs">
                    <button type="button" class="btn btn-success btn-sm col-xs-12 col-sm-2 col-md-1" onclick="Table.methods.refresh()">搜索</button>
                </div>

            </form>
        </div>

    </section>

    <section class="panel">
        <header class="panel-heading">列表</header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped no-margin" id="table"> </table>
            </div>
        </div>
    </section>


</div>
    {include file="public/bootstrap-table" /}

    <link rel="stylesheet" href="/static/admin/vendor/jstree/themes/default/style.min.css" />

{/block}

<!-- js -->
{block name="js"}
<script>
// 操作 
    Table.formatter.operate = function(value, row, index){
        return '<button class="btn btn-xs btn-success" type="button" onclick="Table.methods.edit('+row.id+')"> <i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm">编辑</span></button> <button class="btn btn-xs btn-primary" type="button" onclick="distribute('+row.id+')"> <i class="fa fa-code-fork"></i> <span class="hidden-xs hidden-sm">分配</span></button>   <button class="btn btn-xs btn-danger" type="button" onclick="Table.methods.del('+row.id+')">  <i class="fa fa-trash"></i><span class="hidden-xs hidden-sm">删除</span> </button> ';
    }

    Table.formatter.name = function(value, row, index){
        var str = '';
        if(row.level > 0){
            str += '|';
        }
        return str+repeat('—',row.level)+value;
    }

    tableData.pagination = false;

    tableData.columns = [
        {
            checkbox: true,  
            visible: true,
            printIgnore: true,
            class: "hidden-xs"
        }, 
        {
            field: 'id',
            title: 'ID',
            sortable: true,
            titleTooltip: 'ID',
            printIgnore: true
        }, 
        {
            field: 'name',
            title: '名称',
            sortable: true,
            titleTooltip: '名称',
            formatter: Table.formatter.name,
            printFormatter: Table.formatter.name,
        },
        {
            field: 'status',
            title: '状态',
            sortable: true,
            formatter: Table.formatter.status,
            printFormatter: Table.formatter.status,
        },        
        {
            field: 'create_time',
            title: '添加时间',
            sortable: true,
            formatter: Table.formatter.time,
            printFormatter: Table.formatter.time,
            class: "hidden-xs hidden-sm"
        },
        {
            title: '操作',
            formatter: Table.formatter.operate,
            printIgnore: true
        }
     ];

    // 导出表格名称
    tableData.exportOptions.tableName = tableData.exportOptions.fileName = "角色列表";

    // 忽略导出列
    tableData.exportOptions.ignoreColumn = [0,-1];
    Table.table = $('#table').bootstrapTable(tableData);

    // 分配
    function distribute(id) {
        $.get("{:url('distribute')}?id="+id, function(data) {
            layer.open({
                type: 1,
            　　title: "分配权限",
            　　shadeClose: true,
            　　shade: 0.4,
                anim: 5,
                area: ['','300px'],
            　　content: data
            });
        });
    }
</script>
{/block}