{extend name="base" /}

{block name="title"} 客户管理 {/block}

{block name="body"}

<div class="col-lg-12">

    <section class="panel">
        <header class="panel-heading">条件筛选</header>
        <div class="panel-body">
            <form class="form-inline form-search" role="form">

                <div class="form-group mg-t-xs">
                    <label>公司名称</label>
                    <input type="text" class="form-control" name="title" placeholder="公司名称">
                </div>
                
                <div class="form-group mg-t-xs">
                    <label>联系人</label>
                    <input type="text" class="form-control" name="contact" placeholder="联系人">
                </div>
                
                <div class="form-group mg-t-xs">
                    <label>邮箱</label>
                    <input type="email" class="form-control" name="email" placeholder="邮箱">
                </div>
                
                <div class="form-group mg-t-xs">
                    <label>手机</label>
                    <input type="text" class="form-control" name="phone" placeholder="手机">
                </div>

                <div class="form-group col-xs-12 col-md-12 mg-t-xs">
                    <button type="button" class="btn btn-success btn-sm col-xs-12 col-sm-2 col-md-1" onclick="Table.methods.refresh()">搜索</button>
                </div>

            </form>
        </div>

    </section>

    <section class="panel">
        <header class="panel-heading">列表</header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped no-margin" id="table"> </table>
            </div>
        </div>
    </section>


</div>
    {include file="public/bootstrap-table" /}

    <!-- comboSelect样式 -->
    <link href="/static/admin/vendor/comboSelect/combo.select.css" rel="stylesheet">

{/block}


<!-- js -->
{block name="js"}
<!-- <script src="/static/admin/js/distpicker.min.js"></script> -->
<script>

    Table.formatter.type = function(value, row, index){
        return (value == 1) ? '个人' : '商家';
    }

    Table.formatter.address = function(value, row, index){
        return row.province+'-'+row.city+'-'+row.district;
    }
    tableData.columns = [
        {
            checkbox: true,  
            visible: true,
            printIgnore: true,
            class: "hidden-xs"
        }, 
        {
            field: 'id',
            title: 'ID',
            sortable: true,
            titleTooltip: 'ID',
            printIgnore: true
        }, 
        {
            field: 'type',
            title: '类型',
            sortable: true,
            formatter: Table.formatter.type,
            printFormatter: Table.formatter.type,
            class: "hidden-xs"
        },
        {
            field: 'contact',
            title: '联系人',
            sortable: true
        },
        {
            field: 'phone',
            title: '手机',
            sortable: true
        },
        {
            field: 'title',
            title: '客户名称',
            sortable: true,
            titleTooltip: '客户名称'
        },
        {
            field: 'tel',
            title: '电话',
            sortable: true
        }, 
/*        {
            field: 'fax',
            title: '传真',
            sortable: true
        },  */      
        {
            field: 'email',
            title: '邮箱',
            sortable: true,
            class: "hidden-xs hidden-sm"
        }, 
/*        {
            field: 'credit_id',
            title: '社会信用代码',
            sortable: true,
            class: "hidden-xs hidden-sm"
        }, 
        {
            field: 'taxpayer_id',
            title: '纳税人识别号',
            sortable: true,
            class: "hidden-xs hidden-sm"
        }, 
        {
            field: 'bank',
            title: '开户行',
            sortable: true,
            class: "hidden-xs hidden-sm"
        }, 
        {
            field: 'bank_number',
            title: '开户行卡号',
            sortable: true,
            class: "hidden-xs hidden-sm"
        }, */
        {
            field: 'address',
            title: '地区',
            formatter: Table.formatter.address,
            printFormatter: Table.formatter.address,
            class: "hidden-xs"
        },
       {
            field: 'street',
            title: '街道地址',
            sortable: true,
            class: "hidden-xs hidden-sm hidden-md"
        },
        {
            field: 'create_time',
            title: '添加时间',
            sortable: true,
            formatter: Table.formatter.time,
            printFormatter: Table.formatter.time,
            class: "hidden-xs hidden-sm"
        },
        {
            title: '操作',
            formatter: Table.formatter.operate,
            printIgnore: true
        }
     ];

    // 导出表格名称
    tableData.exportOptions.tableName = tableData.exportOptions.fileName = "客户列表";

    // 忽略导出列
    tableData.exportOptions.ignoreColumn = [0,-1];

    Table.table = $('#table').bootstrapTable(tableData);
</script>
{/block}