<!-- start-->
<div class=" edit">

    <!-- 表单 -->   
    <section class="panel-body">
        <form role="form" class="form-edit">
            <input type="hidden" name="id" value="{:$row.id}">


            <div class="form-group col-sm-12">
                <lable>上级分类</lable>
                <select name="pid" class="form-control">
                    <option value="0">顶级</option>
                    {volist name="list" id="vo"}
                        {if($vo.level<2) }
                            <option value="{$vo.id}" {:input('pid')==$vo.id ? 'selected="selected"' : null } >
                                {:$vo.level>0? '|' : null }{:str_repeat('--',$vo.level)}{$vo.name}
                            </option>
                        {else /} {/if}

                    {/volist}
                </select>
            </div>

            <div class="form-group col-sm-12">
                <lable>分类名称</lable>
                <input type="text" class="form-control" placeholder="分类名称" name="name" value="{$row.name}">
            </div>

            <div class="form-group col-sm-12">
                <lable>状态</lable>
                <div class="radio">
                    <label><input type="radio" name="status" value="0" {$row->status== 0 ? 'checked="checked"' : null } >正常</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="status" value="1" {$row->status== 1 ? 'checked="checked"' : null } >禁用</label>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <lable>备注</lable>
                <textarea class="form-control" cols="5" name="desc">{$row.desc}</textarea>
            </div>

            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-sm btn-primary " onclick="save()"> 保 存 </button>
                <button type="reset" class="btn btn-sm btn-success "> 重 置 </button>
            </div>

        </form>

    </section>
</div>
<!-- end -->


<script>

function save(){
    var param = $(".form-edit").serializeArray();
    $.post("{:url('update')}", param, function(data) {
        if( data.error >0 ){
            toastr.error(data.msg);
        }else{
            show_loading_bar(100);
            toastr.success(data.msg);
            Table.methods.refresh();
            layer.closeAll('page');
        }
    },'json');
}
</script>