
body {
    font-family: "Open Sans", Arial, sans-serif;
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading-font {
    font-family: "Open Sans", Arial, sans-serif;
}