<!-- create begin -->
<div class="create">
   
    <!-- 表单 -->   
    <section class="panel-body" >
        <form role="form" class="form-create">

            <div class="form-group col-sm-12">
                <span>编号</span>
                <input type="text" class="form-control" placeholder="编号" name="sn" v-model="param.sn">
            </div>

            <div class="form-group col-sm-6">
                <span>销售人</span>
                <input type="text" class="form-control" placeholder="名称" name="param.author">
            </div>

            <div class="form-group col-sm-6">
                <span>客户</span>
                <select name="supplier" class="form-control comboSelect">
                    {volist name="supplier" id="vo"}
                        <option value="{$vo.id}" >{$vo.title}</option>
                    {/volist}
                </select>
            </div>

            <div class="form-group col-sm-6">
                <span>销售渠道</span>
                <select name="channel" class="form-control comboSelect" v-model="param.channel">
                    <option value="默认">默认</option>
                    <option :value="item" v-for="item in channel" v-text="item"></option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <span>销售日期</span>
                <input type="date" class="form-control" placeholder="销售日期" name="date" v-model="param.date">
            </div>


            <!-- select table -->
            <div class="form-group col-sm-12" style="height:350px;">           
                <table class="table table-bordered table-striped table-condensed no-margin col-sm-12" >
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-plus btn btn-xs" @click="addLine"></i>
                            </th>
                            <th v-for="item in data" v-text="item"></th>
                            <th> 删除 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,k) in list">
                            <td></td>
                            <td> 
                                <span v-text="item.name"></span>
                            </td>
                            <td> 
                                <span v-text="item.model"></span>
                            </td>
                            <td> 
                                <span v-text="item.spec"></span>
                            </td>
                            <td> 
                                <span v-text="item.color.name"></span>
                            </td>
                            <td> 
                                <input type="text" class="form-control" v-model="item.num" style="height:25px;width:60px;padding:3px;" >
                            </td>
                            <td> 
                                <span v-text="item.unit.name"></span>
                            </td>
                            <td> 
                                <input type="text" class="form-control" v-model="item.price" style="height:25px;width:60px;padding:3px;" >
                            </td>

                            <td >
                                <i class="fa fa-trash btn btn-xs" @click="delLine(k)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-sm btn btn-primary" @click="save"> 保 存 </button>
                <button type="reset" class="btn btn-sm btn-success ">  重 置 </button> 
            </div>

        </form>
    </section>

</div>
<!-- create end-->


<script>
 var list = [];
 var layer_index = 0;

// seajs
seajs.use(['vendor/comboSelect/jquery.combo.select','vendor/channel'], function() {

        var data = {
            name: '名称',
            model: '型号',
            spec: '规格',
            color: '颜色',
            num: '数量',
            unit: '单位',
            price: '单价',
        };

    // vue
    var create = new Vue({
        el: '.create',
        data: {
            data: data,
            list: list,
            channel:channel,
            param:{
                sn:"{:date('Ymdhis').rand(100,999)}",
                author:"{$admin_user.nickname}",
                channel: this.channel[0],
                sale_date: "{:date('Y-m-d',time() )}",
                data: this.list
            }
        },
        mounted: function (){
            $('.comboSelect').comboSelect();
        },
        methods: {
            save: function () {
                this.param.data = this.list;
                $.ajax({
                    url: "{:url('save')}",
                    method: 'POST',
                    dataType: 'json',
                    data: this.param,
                    success: this.callback
                });
            },
            callback:function(){
                if( data.error >0 ){
                    toastr.error(data.msg);
                }else{
                    toastr.success(data.msg);
                    Table.methods.refresh();
                    layer.closeAll('page');
                }
            },
            addLine:function(){
                $.get("{:url('product/select')}", function(data) {
                    layer_index = layer.open({
                        type: 1,
                    　　title: "选择产品",
                    　　shadeClose: true,
                    　　shade: 0.4,
                        anim: 5,
                        area: ['80%','400px'],
                    　　content: data
                    });
                });

            },
            delLine:function(index){
                this.list.splice(index,1);
                // delete this.list[index];
            }

        }

    });

        
});

</script>