<!-- create begin -->
<div class="create">

<?php
    //dump( json_encode($row->list) );
    //die;
?>

    <!-- 表单 -->   
    <section class="panel-body" >
        <form role="form" class="form-create">

            <div class="form-group col-sm-12">
                <span>编号</span>
                <input type="text" class="form-control" placeholder="编号" name="sn" v-model="param.sn">
            </div>

            <div class="form-group col-sm-6">
                <span>销售人</span>
                <input type="text" class="form-control" placeholder="销售人" name="author" v-model="param.author">
            </div>

            <div class="form-group col-sm-6">
                <span>客户</span>
                <select name="customer" class="form-control comboSelect customer">
                    {volist name="customer" id="vo"}
                        <option value="{$vo.id}" >{$vo.title}</option>
                    {/volist}
                </select>
            </div>

            <div class="form-group col-sm-6">
                <span>销售渠道</span>
                <select name="channel" class="form-control comboSelect" v-model="param.channel">
                    <option value="默认">默认</option>
                    <option :value="item" v-for="item in channel" v-text="item"></option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <span>销售日期</span>
                <input type="text" class="form-control" placeholder="销售日期" name="date" v-model="param.date" id="sale_date">
            </div>

            {include file="public/select-table" /}

            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-sm btn btn-primary" @click="save"> 保 存 </button>
                <button type="reset" class="btn btn-sm btn-success ">  重 置 </button> 
            </div>

        </form>
    </section>

</div>
<!-- create end-->



<script>
 var list = {:json_encode($row->list) };

// console.log( list );

 var layer_index = 0;

// seajs
seajs.use(['vendor/comboSelect/jquery.combo.select','vendor/channel','vendor/laydate/laydate'], function() {

        var data = {
            name: '名称',
            model: '型号',
            spec: '规格',
            color: '颜色',
            num: '数量',
            unit: '单位',
            price: '单价',
            count: '合计',
        };

    // vue
    var edit = new Vue({
        el: '.create',
        data: {
            data: data,
            list: list,
            channel:channel,
            count: parseFloat('{$row.count}'),
            param:{
                id:"{$row.id}",
                sn:"{$row.sn}",
                author:"{$row.author}",
                channel: "{$row.channel}",
                sale_date: "{$row.sale_date}",
                data: this.list,
                count: this.count,
                dels:[]
            }
        },
        mounted: function (){
            $('.comboSelect').comboSelect();
            laydate.render({
                elem: '#sale_date', //指定元素
                value:"{$row.sale_date}",
                theme: '#2DCB73'
            });
            // console.log(  JSON.parse( "{$row.list}" ) );

        },
        methods: {
            save: function () {
                this.param.data = this.list;
                $.ajax({
                    url: "{:url('update')}",
                    method: 'POST',
                    dataType: 'json',
                    data: this.param,
                    success: this.callback
                });
            },
            callback:function(data){
                if( data.error >0 ){
                    toastr.error(data.msg);
                }else{
                    toastr.success(data.msg);
                    Table.methods.refresh();
                    layer.closeAll('page');
                }
            },
            addLine:function(){
                $.get("{:url('product/select')}", function(data) {
                    layer_index = layer.open({
                        type: 1,
                    　　title: "选择产品",
                    　　shadeClose: true,
                    　　shade: 0.4,
                        anim: 5,
                        area: ['80%','300px'],
                    　　content: data
                    });
                });

            },
            delLine:function(index){
                // 记录删除的数据 判断是否有 sid 销售id
                if( this.list[index].hasOwnProperty('sid') ){
                    this.param.dels.push( this.list[index].id );
                }
                // 删除
                this.list.splice(index,1);
            },
            changeSum:function(index){
                this.list[index].count = this.list[index].num * this.list[index].price;
                this.SumCount();
            },
            SumCount:function(){
                this.count = 0;
                for(var index in this.list) {  
                    this.count += parseFloat( this.list[index].count );
                };  
            }

        },
        watch: {
            list:function(val,old){
                this.SumCount();
            }
        },

    });

    $('.comboSelect').change(function(){
        
        var name = $(this).attr('name');
        var val = $(this).val();
        // $(this).change();
        // console.log( name );
        // console.log( val );
        edit.param[name] = val;
        // console.log( edit.param );
    });
    

});

</script>